.table-row {
    td {
        padding: 10px;
        border: 1px solid #d3d3d3;
    }
    .green {
        background-color: #55a84f;
    }
    .light-green {
        background-color: #a3c853;
    }
    .yellow {
        background-color: #fded32;
    }
    .orange {
        background-color: #f29c33;
    }
    .red {
        background-color: #e94133;
    }
    .dark-red {
        background-color: #b02f24;
    }
}
